In [4]:
s='jack and jill went up and down to get water'

In [5]:
print(s[::-1])

retaw teg ot nwod dna pu tnew llij dna kcaj

In [6]:
d=s[::-1]

In [7]:
r=d[::-1]
r

'jack and jill went up and down to get water'

In [2]:
a = int(input())
b = list(input())
a
b

5
12 23 56 52

['1', '2', ' ', '2', '3', ' ', '5', '6', ' ', '5', '2']

In [7]:
#n = input()
ns = input().split(" ")
nl = list(ns)
test_list = [int(i) for i in nl]
for i in test_list:
    if(i/2==0):
         a=1
    else:
         a=0
print(a)

6
0

In [1]:
a=10
a

10

In [ ]:
#find min number in a list
# get input as n mumber seperated by space

In [9]:
import functools
n=int(input())
ns = input().split(" ")
nl = list(ns)
test_list = [int(i) for i in nl]
print(functools.reduce(lambda a,b:a if a<b else b,test_list))

5
10 2 30 4 5
2

In [11]:
foo=[1,6,4,56, 56, 56, 6, 4, 2]
print(min(foo, key=foo.count))

1

In [13]:
foo = ['A', 'A', 'A', 'B', 'C', 'C','Z']

print(min(foo, key=foo.count))

B

In [ ]:
import functools
n=int(input())

print(functools.reduce(lambda a,b:a if a<b else b,test_list))

In [24]:
num = int(input("Enter a number: "))  
if (num % 2) == 0:  
    print('even')  
else:  
    print('odd')

Enter a number: 3
odd

Write a code get an integer number as input and print the odd and even digits of the number separately.

Input Description:
A single line containing an integer.

Output Description:
Print the even and odd integers of the integer in a separate line.

Sample Input :
1234
Sample Output :
2 4
1 3

In [55]:

def sp(lw):
    a=[]
    b=[]
   
    for i in lw:
        if(i%2==0):
            a.append(i)
        else:
            b.append(i)
    a.sort()
    b.sort()
    print(' '.join(map(str,a)))
    print(' '.join(map(str,b)))
n=int(input())
li=[int(i) for i in str(n)]
sp(li)

12345856
2 4 6 8
1 3 5 5

In [5]:
n = input()

ll=list(n)
ll

1234

['1', '2', '3', '4']

In [6]:
n = input()
l=list(n)
print(' '.join(map(str,l)))

1234
1 2 3 4

In [10]:
n = float(input())
x = (22/7)*2
y=x*n

print(round(y,2))

0.4
2.51

In [ ]:
def numbers_to_day_of_month(argument):
    switcher = {
        1: 31,
        2: 28,
        3: 31,
        
    }

In [15]:
def dc(n):
    if(n==1):
        print(31)
    elif(n==2):
        print(28)
    elif(n==3):
        print(31)
    elif(n==4):
        print(30) 
    elif(n==5):
        print(31)
    elif(n==6):
        print(30)
    elif(n==7):
        print(31)
    elif(n==8):
        print(31) 
    elif(n==9):
        print(30) 
    elif(n==10):
        print(31)
    elif(n==11):
        print(30)
    elif(n==12):
         print(31)
    else:
         print('Error')
                 
n = int(input())
dc(n)

123
Error

In [20]:
a = float(input())
area =( 1.73205 * a*a) / 4
print(round(area,2))

20
173.21

In [5]:
s=input()
sum_char=0
for i in range(len(s)):
    sum_char += ord(s[i])
print(sum_char)

abc
294

You are given two numbers. Your task is to multiply the two numbers and print the answer.

Input Description:
You are given two numbers ‘n’ and ‘m’.

Output Description:
Print the multiplied answer

Sample Input :
99999 99998
Sample Output :
9999700002

In [9]:
ns=input().split(" ")
n=int(ns[0])
m=int(ns[1])
result=n*m
print(result)

99999 99998
9999700002

Ria is a 5 year old girl. Her mother wants to teach her how to sort words in the same order that they appear in a dictionary. She decides to write a program to sort a given set of strings based on their alphabetical order. Help Ria’s mother to complete the program.

 

Input Description:
A set of N strings

Output Description:
Alphabetically sorted set of strings

Sample Input :
3
InfinityWar EndGame Avengers
Sample Output :
Avengers EndGame InfinityWar

In [18]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()
cars

['BMW', 'Ford', 'Volvo']

In [29]:
sen=input().split(" ")
print(sen)
alpha=sorted(sen)
print(' '.join(map(str,alpha)))
type(sen)

InfinityWar EndGame Avengers
['InfinityWar', 'EndGame', 'Avengers']
Avengers EndGame InfinityWar

list

In [31]:
sen=input().split(" ")
#alpha=sorted(sen)
alpha

6 5 4 3 2 1

['1', '2', '3', '4', '5', '6']

In [44]:
lst = []
num = int(input('How many numbers: '))
for n in range(num):
    numbers = int(input('Enter number '))
    lst.append(numbers)
print("Sum of elements in given list is :", sum(lst))

How many numbers: 3
Enter number 2
Enter number 6
Enter number 6
Sum of elements in given list is : 14

In [51]:
n=int(input())
for i in range(1,n+1):
    print(9*i,end=' ')

3
9 18 27

In [ ]:
n=int(input())
for i in range(1,n+1):
    print(9*i,end=' ')

In [52]:
ns=input().split(" ")
n=int(ns[0])
m=int(ns[1])
for i in range(m):
    print(n)

2 3
2
2
2